@import "../../styles/variables";
@import "../../styles/extendables";
@import "../../styles/mixins";

.employee-detail {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(black, 0.15);
  @include makeFlex(center, center, column);

  & .dialog-wrapper {
    position: relative;
    width: 640px;
    height: 90%;
    background-color: white;
    border-radius: $spacing-md;
    padding: $spacing-md;

    & .content {
      padding: $spacing-xxl;
      width: 100%;
      height: 100%;
      overflow: scroll;
      padding-bottom: $spacing-xxl * 2;

      & .cover {
        width: 100%;
        height: fit-content;
        border-radius: $spacing-xl;
        position: relative;
        overflow: hidden;

        & .bg {
          width: 100%;
          height: 100%;
          min-height: 675px;
          padding-top: $spacing-xxl * 2;
          margin-bottom: $spacing-xxl;
          @include makeFlex(center, center, row);

          & img {
            width: 75%;
            border-radius: $spacing-xl;
          }
        }

        & .avatar {
          position: absolute;
          height: 120px;
          overflow: hidden;
          border-radius: $spacing-xl;
          bottom: $spacing-xxl * 2.5;
          left: 50%;
          transform: translate(-50%, 0);

          & img {
            width: 120px;
            border-radius: $spacing-xl;
          }
        }
      }

      & h1 {
      }

      & h3 {
        color: $gray-500;
        margin-bottom: $spacing-md;
      }

      & .social {
        @include makeFlex(center, center, row);
        max-width: 100%;
        margin-bottom: $spacing-xxl;

        a {
          color: $gray-200;
          font-size: $heading-font-size * 2;
          margin: 0 $spacing-xxl;

          &:hover {
            color: $gray-500;
          }
        }
      }

      & .text {
        text-align: left;
        padding-top: $spacing-md;
      }
    }

    & .actions {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom-left-radius: $spacing-md;
      border-bottom-right-radius: $spacing-md;
      @include makeFlex(flex-end, center, row);
      padding: $spacing-xl;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

.mini-manager-chip {
  position: relative;
  width: 100%;
  margin-bottom: $spacing-md;
  @include makeFlex(center, center, row);

  & .manager-wrapper {
    overflow: hidden;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    @include makeFlex();
    margin-right: $spacing-md;

    & img {
      width: 100%;
    }
  }

  & span {
    font-size: $secondary-font-size;
    color: $gray-500;
  }
}

.server-class {
  max-width: 75%;
  padding: $spacing-md;
  border-radius: $spacing-md;
  background-color: lighten($gray-200, 10%);
  border: 3px solid $gray-200;
  margin: 0 auto;
  margin-bottom: $spacing-xxl;

  & h5 {
    color: red;
  }
}
