// pallette
$primary-color: #7ec567;
$secondary-color: #162c54;

$success-color: #25ec64;
$danger-color: #ec2555;
$warn-color: #ff9252;
$info-color: #5fcaff;

$white: #ffffff;
$black: #000000;
$light-gray: #f5f5f5;

$gray-200: #d3d3d3;
$gray-500: #969696;
$gray-800: #47464c;

// typography
$heading-font-size: 26px;
$primary-font-size: 18px;
$secondary-font-size: 14px;

// sizes
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 18px;
$spacing-xl: 24px;
$spacing-xxl: 36px;

// radiuse
$primary-border-radius: 8px;
$secondary-border-radius: 4px;

// sizes
$laptop-ceil: 1440px;
$laptop-floor: 1025px;

$tablet-ceil: 1024px;
$table-mid: 768px;
$tablet-floor: 426px;

$mobile-ceil: 425px;
$mobile-mid: 375px;
$mobile-floor: 320px;
